<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 fw-normal">Login</h1>
            </div>
        
            <div class="form-floating">
                <label for="floatingInput">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            </div>
            <div class="form-floating mt-3">
                <label for="floatingPassword">Password</label>
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>
        
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        </form>
    </div>
</div>
